{{!< default}}

{{#author}}
    <header class="author__header{{#if cover_image}} author__header--has-cover{{/if}}">

        {{#if cover_image}}
            <img class="author__header-img"
                srcset="{{img_url cover_image size="s"}} 300w,
                        {{img_url cover_image size="m"}} 600w,
                        {{img_url cover_image size="l"}} 1200w,
                        {{img_url cover_image size="xl"}} 1920w"
                sizes="100vw"
                src="{{img_url cover_image size="xl"}}"
                alt="{{title}}"
            />
        {{/if}}

        <div class="author__header-content">

            <h1 class="author__header-title">
                {{#if profile_image}}
                    <img class="author__profile-pic" src="{{profile_image}}" alt="{{name}}" />
                {{/if}}
                {{name}}
            </h1>
            
            <div class="author__meta">
                {{plural ../pagination.total empty='Ei artikkeleita' singular='% artikkeli' plural='% artikkelia'}}
                {{#if location}}
                    <span class="author__meta-link">{{location}}</span>
                {{/if}}
                {{#if website}}
                    <a class="author__meta-link" href="{{website}}" title="Verkkosivu" target="_blank" rel="noopener">{{> "icons/link"}}</a>
                {{/if}}
                {{#if twitter}}
                    <a class="author__meta-link" href="{{twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
                {{#if facebook}}
                    <a class="author__meta-link" href="{{facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                {{/if}}
            </div>

            {{#if bio}}
                <div class="author__bio">{{bio}}</div>
            {{/if}}
            
        </div>
        
    </header>
{{/author}}

<section class="author">
    <div class="article-list">
        <h2>Artikkelit</h2>
        <div class="article-list__wrapper">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</section>