<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    {{#unless page}}
        <title>{{meta_title}}</title>
    {{else}}
        {{#page}}
            {{#if meta_title}}
                <title>{{meta_title}}</title>
            {{else}}
                <title>{{title}}</title>
            {{/if}}
        {{/page}}
    {{/unless}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "built/style.min.css"}}" />
    {{ghost_head}}
</head>
<body id="body" class="{{body_class}}">
    <a class="screen-reader-text" href="#main">Siirry sisältöön</a>

    <header id="header" class="header">
        <div class="header__wrapper">

            <div class="header__logo">
                <a href="{{@site.url}}">
                    {{#if @site.logo}}
                        <img src="{{@site.logo}}" alt="{{@site.title}}" width="642" height="110"/>
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                </a>
            </div>

            <div id="mobile-nav-toggle" class="header__toggle-nav" onclick="document.getElementById('header').classList.toggle('mobile-open');document.getElementById('body').classList.toggle('locked');" tabindex="0">
                <div class="header__toggle-nav-bar"></div>
                <div class="header__toggle-nav-bar"></div>
            </div>

            <nav id="main-nav" class="header__nav">
                {{navigation}}
            </nav>

            <div class="header__actions">
                {{#if @custom.linkedin}}
                    <a class="header__action" href="{{@custom.linkedin}}" title="LinkedIn" target="_blank" rel="noopener">{{> "icons/linkedin"}}</a>
                {{/if}}

                {{#if @custom.github}}
                    <a class="header__action" href="{{@custom.github}}" title="GitHub" target="_blank" rel="noopener">{{> "icons/github"}}</a>
                {{/if}}
            </div>
        </div>
    </header>

    <main id="main" class="main">
        {{{body}}}
    </main>

    <footer id="footer" class="footer">
        <div class="footer__wrapper">
            <div class="footer__copyright">&copy; 2012 - {{date format="YYYY"}}: <a href="{{@site.url}}">{{@site.title}}</a></div>
            <nav class="footer__nav">{{navigation type="secondary"}}</nav>
        </div>
    </footer>

<script>
    document.getElementById("mobile-nav-toggle").addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            event.target.click();
            document.getElementById("main-nav").firstChild.focus();
        }
    });
</script>
<script src="{{asset "built/theme.min.js"}}"></script>
{{ghost_foot}}

</body>
</html>
