<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <title>{{meta_title}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "built/style.min.css"}}" />
</head>
<body id="body">

    <header id="header" class="header">
        <div class="header__wrapper">
            <div class="header__logo">
                <a href="{{@site.url}}">{{@site.title}}</a>
            </div>
        </div>
    </header>

    <main id="main" class="main">
        <section class="error">
            <div class="error__wrapper">

                <a class="error__link" href="{{@site.url}}">&larr; Takaisin etusivulle</a>
                <h1 class="error__code">{{statusCode}}</h1>
                <p class="error__description">{{message}}</p>

                {{#if errorDetails}}
                    <h2>Teeman virheet:</h2>
                    <ul class="error__list">
                        {{#foreach errorDetails}}
                            <li>
                                <em class="error__description">{{{rule}}}</em>

                                {{#foreach failures}}
                                    <p><span class="error__item">Ref: {{ref}}</span></p>
                                    <p><span class="error__item">Message: {{message}}</span></p>
                                {{/foreach}}
                            </li>
                        {{/foreach}}
                    </ul>
                {{/if}}

            </div>
        </section>
    </main>

    <footer id="footer" class="footer">
        <div class="footer__wrapper">
            <div class="footer__copyright">&copy; {{date format="YYYY"}}: <a href="{{@site.url}}">{{@site.title}}</a></div>
        </div>
    </footer>
</body>
</html>
