{{!< default}}

{{#if @site.cover_image}}
    <header class="site-header">
        <div class="site-header__left">
            <h1 class="site-header__title">
                {{#if @custom.title_h1}}
                    {{@custom.title_h1}}
                {{else}}
                    {{#if @site.logo}}
                        <img class="site-header__logo" src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}" width="349" height="60"/>
                    {{else}}
                        {{@site.title}}
                    {{/if}}
                {{/if}}
            </h1>
            {{#if @custom.index_hero_text}}
                <p class="site-header__text">{{@custom.index_hero_text}}</p>
            {{/if}}
        </div>
        <div class="site-header__right">
            <img class="site-header__img"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1200w,
                        {{img_url @site.cover_image size="xl"}} 1920w"
                sizes="(max-width: 960px) 100vw, calc(50vw + 40px)"
                src="{{img_url @site.cover_image size="l"}}"
                alt="{{title}}"
            />
        </div>
    </header>
{{/if}}

<section class="index">
    {{#unless @site.cover_image}}
        <h1 class="index__title">
            {{#if @custom.title_h1}}
                {{@custom.title_h1}}
            {{else}}
                {{title}}
            {{/if}}
        </h1>
    {{/unless}}
    <div class="article-list">
        <h2>Artikkelit</h2>
        <div class="article-list__wrapper">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
    </div>
</section>

{{#if @custom.email_signup_text}}
    {{#unless @member}}
        <section class="cta">
            <div class="cta__left">
                {{#if @custom.email_signup_text}}<h2 class="cta__title">{{@custom.email_signup_text}}</h2>{{/if}}
                <a class="cta__link" href="#/portal" data-portal>
                    <div class="cta__input">{{@custom.email_signup_placeholder}}</div>
                    <span class="cta__button">{{@custom.email_signup_button}}</span>
                </a>
            </div>
            <div class="cta__right">
                <img class="cta__img"
                    srcset="{{img_url @site.cover_image size="s"}} 300w,
                            {{img_url @site.cover_image size="m"}} 600w,
                            {{img_url @site.cover_image size="l"}} 1200w,
                            {{img_url @site.cover_image size="xl"}} 1920w"
                    sizes="(max-width: 960px) 100vw, calc(50vw + 40px)"
                    src="{{img_url @site.cover_image size="l"}}"
                    alt="{{title}}"
                />
            </div>
        </section>
    {{/unless}}
{{/if}}