{{!< default}}

{{#post}}

<article class="article {{post_class}}">

    <header class="post__header">

        <h1 class="post__title">{{#if featured}}💎 {{/if}}{{title}}</h1>

        {{#if custom_excerpt}}
            <p class="post__excerpt">{{custom_excerpt}}</p>
        {{/if}}

        <div class="post__meta">
            {{#unless access}}
                {{#has visibility="members"}}
                    <span class="post__meta-members">⛔ Tilaajille</span>
                {{/has}}
                {{#has visibility="paid"}}
                    <span class="post__meta-members">⛔ Maksaville tilaajille</span>
                {{/has}}
            {{/unless}}
            <time class="post__meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MM.YYYY"}}</time>
            {{#if tags}}
                {{#foreach tags}}
                    <a class="post__meta-tag" href="{{url}}"{{#if accent_color}} style="color:{{accent_color}};"{{/if}}>{{name}}</a>
                {{/foreach}}
            {{/if}}
        </div>

        {{#if feature_image}}
            <figure class="post__img">
                <img
                    width="1280"
                    height="720"
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1200w,
                            {{img_url feature_image size="xl"}} 1920w"
                    sizes="(min-width: 1280px) calc(100vw - 8vmin), 1280px"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
                {{#if featured}}
                    <div class="post__ribbon">
                        <span class="post__ribbon-text">{{@custom.featured_ribbon_text}}</span>
                    </div>
                {{/if}}
                {{#has visibility="members"}}
                    <div class="post__premium-ribbon">
                        <span class="post__premium-ribbon-text">{{@custom.premium_ribbon_text}}</span>
                    </div>
                {{/has}}
                {{#has visibility="paid"}}
                    <div class="post__premium-ribbon">
                        <span class="post__premium-ribbon-text">{{@custom.premium_ribbon_text}}</span>
                    </div>
                {{/has}}
            </figure>
        {{/if}}

    </header>

    <section class="article__content">
        {{content}}
    </section>

</article>

{{#if @custom.show_recent_posts}}
    {{#get "posts" filter="id:-{{id}}" include="authors" limit="3" as |more_posts|}}
        {{#if more_posts}}
            <aside class="read-more">
                <h2 class="read-more__title">{{@custom.recent_posts_title}}</h2>

                <div class="article-list">
                    <div class="article-list__wrapper">
                        {{#foreach more_posts}}
                            {{> "post-card"}}
                        {{/foreach}}
                    </div>
                </div>
            </aside>
        {{/if}}
    {{/get}}
{{/if}}


{{#if @custom.email_signup_text}}
    {{#unless @member}}
        {{#if access}}
            <section class="cta">
                <div class="cta__wrapper">
                    {{#if @custom.email_signup_text}}<h2 class="cta__title">{{@custom.email_signup_text}}</h2>{{/if}}
                    <a class="cta__link" href="#/portal" data-portal>
                        <div class="cta__input">{{@custom.email_signup_placeholder}}</div>
                        <span class="cta__button">{{@custom.email_signup_button}}</span>
                    </a>
                </div>
                {{#if @site.cover_image}}
                    <img class="cta__img"
                        srcset="{{img_url @site.cover_image size="s"}} 300w,
                                {{img_url @site.cover_image size="m"}} 600w,
                                {{img_url @site.cover_image size="l"}} 1200w,
                                {{img_url @site.cover_image size="xl"}} 1920w"
                        sizes="100vw"
                        src="{{img_url @site.cover_image size="xl"}}"
                        alt="{{title}}"
                    />
                {{/if}}
            </section>
        {{/if}}
    {{/unless}}
{{/if}}

{{/post}}