{{!< default}}

{{#post}}

<article class="article {{post_class}}">

    <header class="post__header">

        <h1 class="post__title">{{#if featured}}💎 {{/if}}{{title}}</h1>

        {{#if custom_excerpt}}
            <p class="post__excerpt">{{custom_excerpt}}</p>
        {{/if}}

        <div class="post__meta">
            {{#unless access}}
                {{#has visibility="members"}}
                    <span class="post__meta-members">⛔ Tilaajille</span>
                {{/has}}
                {{#has visibility="paid"}}
                    <span class="post__meta-members">⛔ Maksaville tilaajille</span>
                {{/has}}
            {{/unless}}
            <time class="post__meta-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD.MM.YYYY"}}</time>
            {{#if tags}}
                {{#foreach tags}}
                    <a class="post__meta-tag" href="{{url}}"{{#if accent_color}} style="color:{{accent_color}};"{{/if}}>{{name}}</a>
                {{/foreach}}
            {{/if}}
            {{#if featured}} <a class="post__meta-tag" href="{{@site.url}}/gem/">💎-artikkelit</a>{{/if}}
        </div>

        {{#if feature_image}}
            <figure class="post__img">
                <img
                    srcset="{{img_url feature_image size="s"}} 300w,
                            {{img_url feature_image size="m"}} 600w,
                            {{img_url feature_image size="l"}} 1280w"
                    sizes="(max-width: 420px) calc(100vw - 32px), (max-width: 1280px) calc(100vw - 64px), 1216px"
                    src="{{img_url feature_image size="l"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
        {{/if}}

    </header>

    <section class="article__content">
        {{content}}
    </section>

    <footer class="article__footer">
        <div class="article__footer-wrapper">
            <div>
                {{#prev_post}}
                    <a href="{{url}}" title="{{title}}">&larr; Edellinen</a>
                {{/prev_post}}
            </div>

            <div>
                {{#next_post}}
                    <a href="{{url}}" title="{{title}}">Seuraava &rarr;</a>
                {{/next_post}}
            </div>
        </div>
    </footer>

</article>

{{#if @custom.show_recent_posts}}
    {{#get "posts" filter="id:-{{id}}" include="authors" limit="3" as |more_posts|}}
        {{#if more_posts}}
            <aside class="read-more">
                <h2 class="read-more__title">{{@custom.recent_posts_title}}</h2>

                <div class="article-list">
                    <div class="article-list__wrapper">
                        {{#foreach more_posts}}
                            {{> "post-card"}}
                        {{/foreach}}
                    </div>
                </div>
            </aside>
        {{/if}}
    {{/get}}
{{/if}}

{{/post}}